.project {
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--main-color);
  border-radius: 15px;
  background: rgb(0, 0, 0);

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(66, 0, 66, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px,
    5px 5px 20px black;
  &:hover .project__reference {
    opacity: 1;
    transform: translateX(0);
  }
}
.project__reference {
  font-family: "Oxygen Mono", monospace;
  position: absolute;
  top: 0;
  opacity: 0;
  margin: 6px;
  padding: 0.6rem 0.6rem 0 0.6rem;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.3s;
  border: 2px solid var(--helper-color-2--darker);
  color: var(--helper-color-2--brighter);
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  &--code {
    left: 0;
    transform: translateX(-50px);
  }
  &--link {
    right: 0;
    transform: translateX(50px);
  }
  &:hover {
    padding: 0.8rem 0.8rem 0.2rem 0.8rem;
    border-color: var(--helper-color-2--brighter);
  }
}

.project__title {
  text-align: center;
  margin: 1rem 0;
  font-size: clamp(0.7rem, 5vw, 1.2rem);

  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: var(--border-radius);

  text-shadow: 0 0 5px var(--helper-color-2--brighter);
  z-index: 1;
}
.project__image {
  margin: 0.6rem;
  max-width: 100%;

  box-shadow: 0px 20px 40px black;
  border-radius: 15px;
}
@media only screen and (max-width: 900px) {
  .project__reference {
    opacity: 1;
    transform: translateX(0);
  }
}
