.code-skills {
  background-color: var(--backgroundColor);
  color: white;
  min-height: 100vh;
}
.skills {
  margin: 2rem 0;
}
.skills__list {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 50px;
  margin: auto;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  max-width: 95%;
}

@media only screen and (max-width: 1100px) {
  .skills__list {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}
@media only screen and (max-width: 650px) {
  .skills__list {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
@media only screen and (max-width: 400px) {
  .skills__list {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}
