.skills__list__item {
  max-width: 100%;

  transition: all 0.5s;
  // &:hover {
  //   animation: shakeItem 3s forwards;
  // }
  // &:hover .skills__list__item__name {
  //   animation: shakeName 3s forwards;
  // }
  // &:hover .level__filling {
  //   animation: shakeFilling 3s forwards;
  // }
}
.skills__list__item__name {
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  transform: all 0.5s;
  &.animate {
    animation: shakeName 3s forwards;
  }
}
.skills__list__item__level {
  position: relative;
  padding: 0.25rem;
  height: 40px;
  width: 200px;
  max-width: 95%;
  margin: auto;
  border: 2px solid var(--helper-color-2);
  border-radius: 3px;
  transition: box-shadow 0.3s;
}
.level__filling {
  color: var(--helper-color-2);
  height: 100%;
  overflow: hidden;
  display: flex;
  font-weight: 700;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  &.animate {
    animation: shakeFilling 3s forwards;
  }
}
@keyframes shakeItem {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shakeName {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(60px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shakeFilling {
  0% {
    position: absolute;
    left: 0;
    top: 50%;
    height: calc(100% - 0.5rem);
    transform: translateY(-50%);
  }
  25% {
    position: absolute;
    left: 60%;
    top: 50%;
    height: calc(100% - 0.5rem);
    transform: translate(-50%, -50%);
  }
  50% {
    position: absolute;
    left: 50%;
    top: 50%;
    height: calc(100% - 0.5rem);
    transform: translate(-50%, -50%);
  }
  75% {
    position: absolute;
    left: 0.25rem;
    top: 50%;
    height: calc(100% - 0.5rem);
    transform: translateY(-50%);
  }

  100% {
    position: absolute;
    left: 0.25rem;
    top: 50%;
    height: calc(100% - 0.5rem);
    transform: translateY(-50%);
  }
}
