.contact {
  background-color: var(--backgroundColor);
  color: white;
  min-height: 100vh;
}
.contact__inner-wrapper {
  margin-top: 5rem !important;
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.contact__direct-message__item {
  margin: 1rem 0;
}

@media only screen and (max-width: 900px) {
  .contact__inner-wrapper {
    margin-top: 2rem !important;
    flex-direction: column;
    align-items: center;
  }
}
