.contact {
  background-color: var(--backgroundColor);
  color: white;
  min-height: 100vh;
}
.contact__inner-wrapper {
  margin-top: 5rem !important;
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.contact__direct-message__item {
  margin: 2rem 0;
  font-size: clamp(0.9rem, 4vw, 1.2rem);
}
.social-media__icons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.triangle {
  fill: transparent;
  stroke: var(--helper-color-2--darker);
  stroke-width: 5;
  transform-origin: center;
}

@media only screen and (max-width: 900px) {
  .contact__inner-wrapper {
    margin-top: 2rem !important;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1200px) {
  .contact__animated-triangle {
    display: none;
  }
}
