.form {
  display: flex;
  flex-direction: column;

  row-gap: 15px;
  width: 400px;
  max-width: 90%;
  margin: auto;
}
.form__label {
  position: relative;
  font-family: "Oxygen Mono", monospace;

  padding-left: 3px;
}
.form__input-wrapper {
  max-width: 100%;
  background-color: white;
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  span {
    position: absolute;
    background-color: var(--helper-color-2--brighter);
    transition: all 0.5s;
  }
  span:nth-of-type(1) {
    height: 0%;
    width: 2px;
    left: 0;
    top: 0;
  }
  span:nth-of-type(2) {
    height: 0%;
    width: 2px;
    right: 0;
    bottom: 0;
  }
  span:nth-of-type(3) {
    height: 2px;
    width: 0%;
    left: 0;
    top: 0;
  }
  span:nth-of-type(4) {
    height: 2px;
    width: 0%;
    right: 0;
    bottom: 0;
  }
  &:focus-within span:nth-of-type(1) {
    height: 100%;
  }
  &:focus-within span:nth-of-type(2) {
    height: 100%;
  }
  &:focus-within span:nth-of-type(3) {
    width: 100%;
  }
  &:focus-within span:nth-of-type(4) {
    width: 100%;
  }
}
.form__input {
  font-size: 16px;
  width: 100%;
  padding: 5px;
  resize: none;
  border: none;
  border-radius: var(--border-radius);
  &:focus {
    outline: none;
  }
}
.loading-mail {
  text-align: center;
}
.succesful-mail {
  text-align: center;
  color: rgb(0, 165, 0);
}
.unsuccesful-mail {
  text-align: center;
  color: red;
}
