@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-color: black;
  --helper-color-1: white;
  --helper-color-2: rgb(177, 177, 177);
}
body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-family: "Oxygen Mono", monospace;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100vh;
    filter: grayscale(1);
    background-attachment: fixed;
    background-color: var(--main-color);
    background-image: url("./assets/code.jpg");

    background-repeat: no-repeat;
    background-size: contain;
  }
}
.page-wrapper {
  position: relative;
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  body {
    &::before {
      background-size: cover;
      background-position: center;
    }
  }
}
