@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-color: black;
  --backgroundColor: rgba(0, 0, 0, 0.7);
  --helper-color-1: white;
  --helper-color-2: rgb(95, 19, 95);
  --helper-color-2--darker: #420042;
  --helper-color-2--brighter: rgb(161, 0, 161);
  --border-radius: 3px;
}
body {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-family: "Oxygen Mono", monospace;
  background-color: rgba(0, 0, 0, 0.8);
}
.page-wrapper {
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
p {
  margin: 0;
}
.center-item {
  display: flex;
  justify-content: center;
}
.section-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.next-page {
  position: fixed;
  height: 100%;
  background-color: var(--helper-color-2--darker);
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  padding: 0 10px;
  width: auto;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }
}
@media only screen and (max-width: 900px) {
  .next-page {
    display: none;
  }
}
