@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-color: black;
  --backgroundColor: rgb(0, 0, 0);
  --helper-color-1: #ffffff;
  --helper-color-2: rgb(95, 19, 95);
  --helper-color-2--darker: #420042;
  --helper-color-2--brighter: #a100a1;
  --border-radius: 3px;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;

  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./assets/others/tło2-cut.jpg);

  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1,
h2,
p {
  margin: 0;
}
.center-item {
  display: flex;
  justify-content: center;
}
.default-page {
  background-color: transparent;
  color: white;
  min-height: 100vh;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  @media only screen and (max-width: 1000px) {
    max-width: 90%;
  }
  @media only screen and (max-width: 600px) {
    max-width: 90%;
  }
}
.section-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.next-page {
  position: fixed;
  height: 100%;
  z-index: 1;
  background-color: var(--helper-color-2--darker);
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  padding: 0 10px;
  width: auto;

  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }
}
@media only screen and (max-width: 1000px) {
  .next-page {
    display: none;
  }
}
