.about-me__informations {
  display: flex;
  flex-direction: row;

  max-width: 1600px;
  margin: auto;
  margin-top: 5rem;
  flex-wrap: wrap;
  justify-content: space-between;

  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}

.informations__description {
  padding: 1rem 2rem;
  flex: 0 0 60%;
  position: relative;

  &::after {
    position: absolute;
    opacity: 0;
    transform: translateY(-10%);
    content: "";
    height: 100%;
    width: 3px;
    left: 0;
    top: 0;
    background-color: var(--helper-color-2--darker);
    box-shadow: 3px 3px 5px black;
    animation: moveInSpacer 1s 0.5s linear forwards;
  }
}
@keyframes moveInSpacer {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 1200px) {
  .about-me__informations {
    flex-direction: column;
    margin-top: 3rem;
  }

  .informations__description {
    margin-top: 2rem;
    padding: 1rem 1rem;
    &::after {
      height: 3px;
      width: 100%;
    }
  }
}
