.about-me__informations {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1600px;
  margin: auto;
  margin-top: 5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.informations__my-photo__wrapper {
  flex: 0 0 35%;
  min-height: 870px;
  margin: 0 auto;
  transform: translateY(20px);
  transition: filter 0.3s;
  perspective: 800px;
  filter: drop-shadow(3px 2px 3px var(--helper-color-2));
  position: relative;
  &:hover {
    // filter: drop-shadow(0px 0px 5px var(--helper-color-2--brighter));
  }
  &--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 500px;
    max-width: 100%;
    & figcaption {
      font-size: clamp(0.6rem, 3vw, 1rem);
    }
  }
  &:hover .informations__my-photo {
    transform: translate(0, 0);
  }
}

.informations__my-photo {
  position: absolute;
  top: 30px;
  left: 0;
  // bottom: 0;
  // right: 0;
  // margin: auto;
  max-width: 100%;
  transition: transform 300ms ease;
  border-radius: var(--border-radius);
  filter: grayscale(0.5);
  transform-origin: left;

  &--mobile {
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px 3px var(--helper-color-2--brighter);
    filter: grayscale(0.5);
    max-width: 80%;
  }
  &:nth-of-type(1) {
    clip-path: polygon(0 0, 0 29%, 47% 0);
    transform: translate(-50px, -15px) translateZ(50px);
    animation: animateFirstImage 20s infinite linear;
    transform-origin: top;
  }

  &:nth-of-type(2) {
    clip-path: polygon(0 29%, 0 100%, 22% 100%, 89% 0, 47% 0);
    transform: translate(-60px, -35px) translateZ(-50px);
    animation: animateSecondImage 20s infinite linear;
  }

  &:nth-of-type(3) {
    clip-path: polygon(100% 58%, 60% 100%, 22% 100%, 89% 0, 100% 0);
    transform: translate(-41px, -15px) translateZ(50px);
    animation: animateThirdImage 20s infinite linear;
  }

  &:nth-of-type(4) {
    clip-path: polygon(100% 58%, 60% 100%, 100% 100%);

    transform: translate(-20px, 40px) translateZ(-50px);

    transform-origin: top;
  }
  animation: animateFourthImage 20s infinite linear;
}

@keyframes animateFirstImage {
  0% {
    transform: translate(-50px, -15px) translateZ(70px);
  }
  50% {
    transform: translate(0, 0) translateZ(0);
  }
  100% {
    transform: translate(-50px, -15px) translateZ(70px);
  }
}
@keyframes animateSecondImage {
  0% {
    transform: translate(-60px, -35px) translateZ(-50px);
  }
  50% {
    transform: translate(0, 0) translateZ(0);
  }
  100% {
    transform: translate(-60px, -35px) translateZ(-50px);
  }
}
@keyframes animateThirdImage {
  0% {
    transform: translate(-41px, -15px) translateZ(50px);
  }
  50% {
    transform: translate(0, 0) translateZ(0);
  }
  100% {
    transform: translate(-41px, -15px) translateZ(50px);
  }
}
@keyframes animateFourthImage {
  0% {
    transform: translate(-20px, 40px) translateZ(-50px);
  }
  50% {
    transform: translate(0, 0) translateZ(0);
  }
  100% {
    transform: translate(-20px, 40px) translateZ(-50px);
  }
}
.informations__description {
  padding: 1rem 2rem;
  flex: 0 0 60%;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 3px;
    left: 0;
    top: 0;
    background-color: var(--helper-color-2--darker);
    box-shadow: 3px 3px 5px black;
  }
}
@media only screen and (max-width: 1200px) {
  .about-me__informations {
    flex-direction: column;
    margin-top: 3rem;
  }

  .informations__description {
    margin-top: 2rem;
    padding: 1rem 1rem;
    &::after {
      height: 3px;
      width: 100%;
    }
  }
}
