.portfolio {
  background-color: var(--backgroundColor);
  color: white;
  min-height: 100vh;
}
.projects__wrapper {
  display: grid;
  max-width: 80%;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 100px;
  margin: auto;
}
.portfolio__select {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  & p {
    padding: 2rem;
    font-size: clamp(1rem, 4vw, 1.3rem);
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: var(--helper-color-2--brighter);
    }
    &.active {
      color: var(--helper-color-2--brighter);
      transform: scale(1.2);
      outline: none;
      border: none;
    }
  }
}
@media only screen and (max-width: 1300px) {
  .projects__wrapper {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
@media only screen and (max-width: 800px) {
  .projects__wrapper {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 50px;
  }
}
