.portfolio {
  background-color: var(--main-color);
  color: white;
  min-height: 100vh;
}
.projects__wrapper {
  display: grid;
  max-width: 90%;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 40px;
  margin: auto;
}
@media only screen and (max-width: 1300px) {
  .projects__wrapper {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
@media only screen and (max-width: 800px) {
  .projects__wrapper {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
