.description {
  margin-bottom: 2rem;
}
.description__title {
  margin-bottom: 1rem;
  color: var(--helper-color-2--brighter);
  text-transform: uppercase;
  font-size: clamp(0.7rem, 4vw, 1.5rem);
}
.description__collapse {
  font-size: clamp(0.8rem, 3vw, 1.1rem);
}
