.button {
  margin: 1rem auto;
  outline: none;
  border: 2px solid var(--helper-color-2--darker);
  padding: 0.7rem 1.2rem;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--helper-color-1);
  font-size: clamp(0.7rem, 5vw, 1.2rem);
  box-shadow: inset 0 0 10px var(--helper-color-2--brighter);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    box-shadow: inset 0 0 20px var(--helper-color-2--brighter);
  }
}
